<%= form_for @booth do |f| %>
  <h1><%= @booth.active_office.name %></h1>
  <p>
  <%= f.fields_for :active_selection do |active_selection_fields| %>
    <% @booth.active_office.candidates.each do |candidate| %>
      <label>
        <%= candidate.name %>
        <%= active_selection_fields.radio_button :candidate_id, candidate.id %>
      </label>
    <% end %>
  <% end %>
  </p>
  <%= f.submit 'Next', :class => 'btn primary large pull-right' %>
  <%= f.submit 'Previous', :class => 'btn large' %>
<% end %>
