<!DOCTYPE html>
<html>
<head>
  <title>Glvote</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag Rails.configuration.faye_url + '.js' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    <%= yield(:javascript) %>
  </script>
</head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <span class="brand">Grand Lodge Balloting 2012</span>
          <div class="pull-right">
            <% if @booth %>
              <span class="booth-indicator brand">Voting Booth #<%= @booth.id %></span>
            <% end %>
            <%= render 'layouts/login_indicator' %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <% if flash.notice %>
        <div>
          <%= flash.notice %>
        </div>
      <% end %>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
