<!DOCTYPE html>
<html>
<head>
  <title>Glvote</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <span class="brand">Grand Lodge Balloting 2012</span>
          <% if @booth %>
            <div class="pull-right">
              <span class="booth-indicator brand">Voting Booth #<%= @booth.id %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <% if flash.notice %>
        <div>
          <%= flash.notice %>
        </div>
      <% end %>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
